<div class="w-full h-screen overflow-x-hidden border-t flex " >
    <app-menu></app-menu>
    <div style="flex: 1;">

    <h1 class="text-3xl text-black pb-6">Dashboard</h1>
    
    <div class="flex flex-wrap mt-6">
        <div class="w-full lg:w-1/2 pr-0 lg:pr-2">
            <p class="text-xl pb-3 flex items-center">
                <i class="fas fa-plus mr-3"></i> Monthly Reports
            </p>
            <div class="p-6 bg-white">
                <canvas id="chartOne" width="400" height="200"></canvas>
            </div>
        </div>
        <div class="w-full lg:w-1/2 pl-0 lg:pl-2 mt-12 lg:mt-0">
            <p class="text-xl pb-3 flex items-center">
                <i class="fas fa-check mr-3"></i> Resolved Reports
            </p>
            <div class="p-6 bg-white">
                <canvas id="chartTwo" width="400" height="200"></canvas>
            </div>
        </div>
    </div>

    <div class="w-full mt-6">
        <p class="text-xl pb-3 flex items-center">
            <i class="fas fa-list mr-3"></i> Liste Des Cours
        </p>
      
    <div class="bg-white overflow-auto">
      <table class="min-w-full bg-white">
          <thead class="bg-gray-800 text-white">
              <tr>
                  <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Libelle</th>
                  <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Heure Globale</th>
                  <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Module</th>
                  <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Etat</th>
                  <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Professeur</th>
                  <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">AnneeScolaire</th>
                  <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Heure Planifiees</th>
                  <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Heure Restantes</th>
                  <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Voir Sessions</th>
                  <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Voir Etudiants</th>
                 
              </tr>
          </thead>
          <tbody class="text-gray-700">
              @for (item of response?.results; track $index) {
                  <tr class="hover:bg-grey-lighter">
                      <td class="py-4 px-6 border-b border-grey-light">{{item.libelle}}</td>
                      <td class="py-4 px-6 border-b border-grey-light">{{item.nbreHeureGlobal}}</td>
                      <td class="py-4 px-6 border-b border-grey-light">{{item.module.libelle}}</td>
                      <td class="py-4 px-6 border-b border-grey-light">{{item.etat}}</td>
                      <td class="py-4 px-6 border-b border-grey-light">{{item.professeur.nom}}</td>
                      <td class="py-4 px-6 border-b border-grey-light">{{item.anneeScolaire.libelle}}</td>
                      <td class="py-4 px-6 border-b border-grey-light">{{item.nbreHeurePlanifier}}</td>
                      <td class="py-4 px-6 border-b border-grey-light">{{item.nbreHeureRestante}}</td>
                      <td class="py-4 px-6 border-b border-grey-light"><button routerLink="/session/{{item.id}}" style="background-color: #3498db; color: white; padding: 10px 20px; border-radius: 5px; font-size: 16px; border: none;">Voir</button>
                      </td>
                      <td class="py-4 px-6 border-b border-grey-light"><button routerLink="/etudiants/{{item.id}}" style="background-color: #3498db; color: white; padding: 10px 20px; border-radius: 5px; font-size: 16px; border: none;">Voir</button>
                      </td>
                  </tr>
              }
              
          </tbody>
      </table>
     
  </div>
</div>
<app-pagination [data]="dataPagination" (onGetNumberPage)="paginate($event)" ></app-pagination>
<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <!-- Font Awesome -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs=" crossorigin="anonymous"></script>
    <!-- ChartJS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=" crossorigin="anonymous"></script>

  
  </div>

  </div>
   

