<div class="w-full h-screen overflow-x-hidden border-t flex " >
    <app-menu></app-menu>
    <div style="flex: 1;">
<div class="w-100 lg:w-1/2 mt-6 pl-0 lg:pl-2">
    <p class="text-xl pb-6 flex items-center">
        <i class="fas fa-list mr-3"></i>New Salle
    </p>
    <div class="leading-loose" style="margin-left: 50%; width: 100%;">
        <form #formSalle="ngForm" (ngSubmit)="formSalle.form.valid && onSubmit()" class="p-10 bg-white rounded shadow-xl">
            <p class="text-lg text-gray-800 font-medium pb-4">Nouvelle Salle</p>
            <div class="">
                <label class="block text-sm text-gray-600" for="cus_name">Nom</label>
                <input
                name="nom"
                #nom="ngModel"
                [(ngModel)]="salleCreate.nom"
                 class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded" id="cus_name" name="cus_name" type="text" required="" placeholder="Nom" aria-label="Name">
                 @if (nom.errors && (nom.dirty || nom.touched)) {
                
                      <small   class="form-text text-danger"  >Le nom ne doit pas etre vide </small>
                    
                  }
                </div>
                <div class="">
                    <label class="block text-sm text-gray-600" for="cus_name">Numero</label>
                    <input
                    name="numero"
                    #numero="ngModel"
                    [(ngModel)]="salleCreate.numero"
                     class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded" id="cus_name" name="cus_name" type="text" required="" placeholder="Numero" aria-label="Name">
                     @if (numero.errors && (numero.dirty || numero.touched)) {
                    
                          <small   class="form-text text-danger"  >Le numero ne doit pas etre vide </small>
                        
                      }
                </div>
                <div class="">
                    <label class="block text-sm text-gray-600" for="cus_name">Place</label>
                    <input
                    name="nbrePlaces"
                    #nbrePlaces="ngModel"
                    [(ngModel)]="salleCreate.nbrePlaces"
                     class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded" id="cus_name" name="cus_name" type="text" required="" placeholder="Nombre de place" aria-label="Name">
                     @if (nbrePlaces.errors && (nbrePlaces.dirty || nbrePlaces.touched)) {
                    
                          <small   class="form-text text-danger"  >Le nbrePlaces ne doit pas etre vide </small>
                        
                      }
                </div>
            <div  class="my-2 ">
                <button [disabled]="formSalle.invalid" type="submit" style="background-color: #3498db; color: white; padding: 10px 20px; border-radius: 5px; font-size: 16px; border: none;">Save</button>
              
            </div>
        </form>
    </div>
   
</div>
</div>
</div>

